{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
{% block content %}
    <div class="container">
       <div class="row">
           <div class="offset-md-4 col-md-4">
               <div class="messages">
                   {% if messages  %}
                       {% for message in messages %}
                        <center> <div class="alert alert-success alert-dismissible fade show" role="alert">
                           <p class="alert alert-dismissible fade show alert-{{message.tags}}">{{ message }}</p>
{#                               <strong>Holy guacamole!</strong> You should check in on some of those fields below.#}
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">&times;</span>
                               </button></center>
                           </div>




{#                            <center>#}
{#                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                                    <span aria-hidden="true">&times;</span></center>#}
                       {% endfor %}

                   {% endif %}
               </div>

           </div>

       </div>

    </div>



    <div class="jumbotron text-center">
      <h1  id="main_title" class="text-center">RTI Students Placed:</h1>
        <br>

      <a href="{% url 'Lucknow' %}" class="btn btn-outline-success btn-lg main_btn "><b>Lucknow</b></a>
      <a href="{% url 'Kanpur' %}" class="btn btn-outline-danger btn-lg main_btn"><b>Kanpur</b></a>
      <a href="{% url 'Gorakhpur' %}" class="btn btn-outline-primary btn-lg main_btn"><b>Gorakhpur</b></a>
      <a href="{% url 'Deoria'  %}" class="btn btn-outline-info btn-lg main_btn"><b>Deoria</b></a>
      <a href="{% url 'feedback' %}" class="btn btn-danger btn-lg main_btn "><b>Feedback</b></a>


    </div>

{% endblock %}

</body>
</html>